@import "variables";

* {
    padding: 0;
    margin: 0;
}

/* HTML */

html {
    font-size: 162.5%;
    display: flex;
    flex-direction: column;
}


/* HEADER */

header {
    background-color: $colorheader;
    display: flex;

    img {
        width: 4.5rem;
        height: 3rem;
        margin: auto auto auto 1rem
    }

    ul {
        margin: 1rem 1rem 1rem 0rem;
        font-size: 0.7rem;
        list-style: none;

        li {
            padding: 0.15rem;
        }

        a {
            text-decoration: none;
            color: white;
        }
    }
}

/* FOOTER */
footer {
    display: flex;
    align-items: center;
    background-color: black;

    p {
        font-weight: 100;
        font-size: 0.5rem;
        margin-right: auto;
        margin-left: 0.5rem;
        color: rgb(186, 181, 181);
    }

    ul {
        list-style: none;
        margin-right: 0rem;
        display: flex;
        width: 8rem;

        li {
            margin: 0.3rem;
        }

        a {
            text-decoration: none;
            font-size: 0.5rem;
            color: white;
            font-weight: 500;
        }
    }
}

/* MAIN */

main {
    width: 100%;

    a {
        text-decoration: none;
        border: solid 1px;
        padding: 0.1rem;
        border-radius: 0.15rem;
        background-color: $colorresaltar;
        color: white;
        margin: 0.5rem 0.5rem;
        display: inline-block;
    }
}

/* HERO INDEX */

hero {

    h1,
    h2 {
        font-size: 2rem;
        color: $colorresaltar;
        margin: 2rem 0;
        text-align: center;
    }
}

/* MAIN INDEX */
#inicio {
    height: 60vh;
    width: 100%;

    h2 {
        font-size: 1.5rem;
        font-weight: 500;
        margin-left: 0.5rem;
    }

    h3 {
        font-size: 1rem;
        font-weight: 100;
        width: 90%;
        margin-left: 0.5rem;
    }

    img {
        width: 100%;
        margin-bottom: auto;
    }
}

/* MAIN CATALOGO, AUTOS NUEVOS Y USADOS */
#catalogo {
    img {
        width: 100%;
        height: 8rem;
    }
}

/* MAIN AUTOS NUEVOS Y USADOS */
#nuevo,
#usado {
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        border-radius: .5rem;
        width: 80%;
        height: 8rem;
    }

    p {
        margin: 0.2rem 0;
        max-width: 80%;
    }
}

/* MAIN NOSOTROS */

#nosotros {
    height: 60vh;
    display: flex;
    flex-direction: column;

    .imagenes {
        display: flex;
    }

    img {
        width: 45%;
        margin: 0 2.5% 1rem 2.5%;
        border-radius: 0.2rem;
    }

    p {
        margin-left: 1rem;
        margin-bottom: auto;
        font-weight: 100;
    }

    a {
        display: inline-block;
        width: fit-content;
    }
}

#contacto {
    display: flex;
    flex-direction: column;

    iframe {
        width: 80%;
        height: 10rem;
        margin: 0.5rem 10%;
        border-radius: 2rem;
    }

    p {
        color: $colortexto;
        margin: 0.5rem;
    }

    .formulario {
        border: solid 1px;
        width: 80%;
        margin: 0.5rem auto;
        border-radius: 0.1rem;
    }

    .etiquetas {
        width: 50%;
        margin-right: auto;
        display: inline-block;
    }

    .texto {
        width: 40%;
        display: inline-block;
    }

    #comentarios {
        width: 80%;
        margin-left: auto;
        margin-right: 7.5%;
        display: block;
    }

    .enviar {
        margin: 0 0 0.5rem 0.5rem;
        padding: 0.1rem;
        background-color: $colorresaltar;
        color: white;
        border-radius: 0.1rem
    }


}



/* media queries */

@media (min-width:1024px) {
    body {
        min-height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    main {
        margin-bottom: auto;
    }
    .fila {
        display: flex;
    }
        
    @for $contador from 1 through 4 {
        .fila.columna-#{$contador} div {
            width: 100% / $contador;
        }
    }
    #inicio {
        h2 {
            margin-top: 2rem;
        }
    }

    #catalogo {
        justify-content: space-around;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        img {
            width: fit-content;
        }
    }

    #nuevo, #usado {
        justify-content: space-around;
    }

    #nosotros {
        display: flex;
        flex-direction: column;
        p {
            margin-bottom: auto;
        }
        a {
            display: inline-block;
        }
    }
    #contacto {
    .etiquetas {
        width: 15%;
    }

    .texto {
        width: 70%;
    }
    }
}